<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>COVID 19 India Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
  </head>

  <body>
  
  
  <div class="jumbotron">
  <h1 class="display-4">COVID-19 India Tracker Dashboard</h1>
  <p class="lead">To display the current number of cases reported  across India</p>
  <p class="text-muted">
  <span>Last Updated on :</span>
  <span th:text="${lastRefreshed}"></span>
  </p>

  <hr class="my-4">
  <div class="container">
  
  <div class="card text-center">
  <div class="card-header h5">
    Confirmed Cases
  </div>
  <div class="card-body">
    <p class="card-text text-primary h1" th:text="${status_mapping['Total']}"></p>
  </div>
  <div class="card-header h5">
   Hospitalizes Cases 
  </div>
  <div class="card-body">
    <p class="card-text text-warning h1" th:text="${status_mapping['Hospitalized']}"></p>
  </div>
  <div class="card-header h5">
   Recovered Cases 
  </div>
  <div class="card-body">
    <p class="card-text text-success h1" th:text="${status_mapping['Recovered']}"></p>
  </div>
   <div class="card-header h5">
   Death Count 
  </div>
  <div class="card-body">
    <p class="card-text text-muted h1" th:text="${status_mapping['Deceased']}"></p>
  </div>
  
  
</div>

  </div>
  
  <hr class="my-4">
  
    <div class="container-fluid">
    <p class="h2"><u>Coronavirus Outbreak in India</u></p>
    <p class="lead">
    <span>Latest case reported in </span>
    <span class="bg-info text-light h4"  th:text="|  ${lastCaseReportedIn} |"></span>
    </p>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">States and UTs</th>
      <th scope="col">Cases</th>
      
    </tr>
  </thead>
  <tbody>
  	 <tr th:each="state : ${state_mapping}">
        <td th:text="${state.key}"></td>
        <td th:text="${state.value}"></td>
      </tr>
  </tbody>
</table>
  </div>
  <div class="footer-copyright text-center py-3">© covid19India
   
    <p class="text-muted">Created by <a href="https://www.linkedin.com/in/aravinthan-p-91b84715a" target="_blank"> <u>Aravinthan Praba </u></a></p>
        <a href="https://github.com/AravinthanPraba007/COVID-19-India" target="_blank"> Check out the code !!</a>
  </div>
</div>
  </body>

</html>